<div style="height:15px;"></div>

<nav class="desktop">
    <div id="sortable" ng-style="menuRightStyle">
        <ul id="list_sortable" ng-repeat="layer in layers">
            <li ng-click="selectFile(layer.name)"><a id ="layer-{{layer.name}}"><span class='glyphicon glyphicon-eye-open push-left'></span><strong> - file : </strong>{{layer.name}}</a></li>
        </ul>
        <div class="dropzone">
            <br>
            <div id="dropzone">Drop a .ifc file here...</div>
            <br>
        </div>
    </div>


    <button class="btn btn-primary"  type="button" ng-click='goMTL(filepath)' >load MTL</button>
    <button class="btn btn-primary"  type="button" ng-click='goOBJ(filepath)'>load OBJ</button>
    <button class="btn btn-primary"  type="button" ng-click='SplitFileAndGetList(filepath)'>Get File List</button>
    <input type="text" class="input-small"  ng-model="filepath"/>
    <button class="btn btn-primary"  type="button" ng-click='deleteObject(filepath)'>Delete this Object</button>
    <button class="btn btn-primary"  type="button" ng-click='cleanTheScene()'>CleanScene</button>

</nav>

<nav class="mobile">
    <button id="toggle">Toggle</button>
    <div>
        <div id="sortable" ng-style="menuRightStyle">
            <ul id="list_sortable" ng-repeat="layer in layers">
                <li ng-click="selectFile(layer.name)"><a id ="layer-{{layer.name}}"><span class='glyphicon glyphicon-eye-open push-left'></span><strong> - file : </strong>{{layer.name}}</a></li>
            </ul>
        </div>

    <button class="btn btn-primary"  type="button" ng-click='goOBJ(filepath)'>load OBJ</button>
    <button class="btn btn-primary"  type="button" ng-click='SplitFileAndGetList(filepath)'>Get File List</button>
    <input type="text" class="input-small"  ng-model="filepath"/>
    <button class="btn btn-primary"  type="button" ng-click='deleteObject(filepath)'>Delete this Object</button>
    <button class="btn btn-primary"  type="button" ng-click='cleanTheScene()'>CleanScene</button>
    <button class="btn btn-primary"  type="button" ng-click='goMTL(filepath)' >load MTL</button>

</nav>


<!--<pre id="data"></pre>-->
<!--div id="GLDiv" style="width:1160px; background:#0B0B3B"/-->
<div class="gldiv" id="GLDiv" style="margin-left: 10px; margin-top: 5px;"/>

<!--<div class="menuRight" ng-style="menuRightStyle" ng-repeat="layer in layers">-->
<!--&lt;!&ndash;<li><a id ="layer-{{layer.name}}"><span class='glyphicon glyphicon-eye-open push-left'></span><strong> -  Brain Volume_ID: </strong>{{layer.name}}</a></li>&ndash;&gt;-->
<!--</div>-->
